body {
  background-color:#e6fff7;
}

.container {
  text-align: center;
}

.list {
  width: 600px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
  background-color: white;
}

.input {
  margin:1px;
  border-radius: 21px;
  width: 300px;
  border-color:#00ffaa;
  background-color: #e6fff7
}

.input-button {
  border-color:#00ffaa;
  border-radius: 21px;
  background-color: #99ffdd;
  width: 100px;
  height:23px;
}.input-button:hover {
  background-color: #e6fff7;
  color:#00b377;
  cursor: pointer;
}

.task {
 background-color: #f2f2f2;
 padding:5px;
 display:flex;
 border-radius: 25px;
 margin:5px;
}
.button-done{
  height:40px;
  background-color:transparent;
  border-radius: 100%;
  font-size: 18px;
  color: green;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  border-color: transparent;
} .button-done:hover {
  cursor: pointer;
  color:white;
  background-color:green;
}
.button-delete{
  height:40px;
  background-color:transparent;
  border-radius: 100%;
  font-size: 18px;
  color: red;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  border-color: transparent;
} .button-delete:hover {
  cursor: pointer;
  color:white;
  background-color:red;
}